a{
    padding: 10px;
    text-decoration: none;
    color: #ff7300;
}
a:hover{
    background-color: rgb(1, 247, 255);
    color: rgb(255, 0, 221);
    text-decoration: none;
}
input::file-selector-button{
    background-color: #ff7300;
    color: white;
    border: 2px solid green;
    padding: 0.5rem 1rem;
}